@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #025E73, #BFB78F);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
main{
    background-color: white;
    text-align: center;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #025E73;
}
h1{
    color: #011F26;
    font-size: 2em;
}
h2{
    color: #F2A71B;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: rgb(180, 3, 3);
}
a:active{
    color: #F2A71B;
}

